/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

// Basic Colors.
$c1: #dedede;
$c2: #292929;

$w : #ffffff;
$b : #000000;
$gb: #686868;
$g : #35ad68;
$y : #FFFDD2;

/* ----------------------------------------------------------------------------
 * WP Colors.
 * ------------------------------------------------------------------------- */

$wp-blue  :  #21759b;
$wp-orange:  #d54e21;
$wp-grey  :  #464646;

/* ----------------------------------------------------------------------------
 * Nice Colors.
 * ------------------------------------------------------------------------- */

$gr : goldenrod;

/* ----------------------------------------------------------------------------
 * RGBA
 * ------------------------------------------------------------------------- */

 $wrgba: rgba(255, 255, 255, 0.22);
