/* ----------------------------------------------------------------------------
 * Fotter
 * ------------------------------------------------------------------------- */

footer {
	display: flex;
	max-width: 100%;
	width: 100%;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	margin: 3rem auto;
	font-size: 1rem;
	line-height: 3;


	p {
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.2;
		text-align: center;

		span {
			@include r(240)  { font-size: 0.8rem; display: block;line-height: 2; }
			@include r(320)  { font-size: 0.8rem; display: block;line-height: 1.8; }
			@include r(480)  { font-size: 0.8rem; display: block;line-height: 1.8; }
			@include r(768)  { font-size: 1rem; display: inline-block;line-height: 1.2; }
			@include r(1024) { font-size: 1rem; display: inline-block;line-height: 1.2; }
			@include r(1140) { font-size: 1rem; display: inline-block;line-height: 1.2; }
			@include r(1280) { font-size: 1rem; display: inline-block;line-height: 1.2; }

			background: $wrgba;
			padding: 0.75rem;

			:hover {
				-webkit-transition: all 0.4s ease;
				   -moz-transition: all 0.4s ease;
				    -ms-transition: all 0.4s ease;
				     -o-transition: all 0.4s ease;
				        transition: all 0.4s ease;
				background: $gr;
			}

		}

		a {
			@include r(240)  { font-size: 1rem !important;  }
			@include r(320)  { font-size: 1rem !important;  }
			@include r(480)  { font-size: 1rem !important;  }
			@include r(768)  { font-size: 1rem !important;  }
			@include r(1024) { font-size: 1rem !important;  }
			@include r(1140) { font-size: 1rem !important;  }
			@include r(1280) { font-size: 1rem !important;  }
			line-height: 1.2;
			color: $w;
			border-bottom: 1px solid;

			:hover {
				-webkit-transition: all 0.4s ease;
				   -moz-transition: all 0.4s ease;
				    -ms-transition: all 0.4s ease;
				     -o-transition: all 0.4s ease;
				        transition: all 0.4s ease;
				color: $w;
				padding: 0.75rem;
			}
		}
	}
}

p.wpc_credit {
	line-height: 3;
	margin: 2rem 0;
}
